<h1>The Product List</h1>

<input type="button" value="Create New Product" class="btn btn-warning" (click)="addProductView()">

<div class="contianer">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th *ngFor="let c of columnHeaders">{{c}}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products$ | async">
                <td *ngFor="let c of columnHeaders">{{p[c]}}</td>
                <td>
                    <input type="button" value="Edit" (click)="editSelectedProduct(p.ProductRowId)">
                </td>
                <td>
                    <input type="button" value="Delete" (click)="deleteSelectedProduct(p)">
                </td>
            </tr>
        </tbody>
    </table>
</div>